# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# ---------------------------
# Git
# ---------------------------
.git/
.gitignore

# ---------------------------
# Terraform
# ---------------------------
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# ---------------------------
# Secrets
# ---------------------------
.env
.aws/

# ---------------------------
# Logs & misc
# ---------------------------
*.log
docs/
